.message {
  max-width: 60%;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
}

.user {
  background-color: #dcf8c6;
  margin-left: auto;
  text-align: right;
}

.other {
  background-color: #fff;
  margin-right: auto;
  text-align: left;
}

.createdAt {
  font-size: 0.8em;
  color: gray;
  text-align: right;
}
